<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    {{if eq $.RequestUrl "/" }}
        <li class="breadcrumb-item  active">Home</li>
    {{ else }}
        <li class="breadcrumb-item"><a href="{{$.FeBase}}?d=/">Home</a></li>
    {{end}}

    {{ range  initial .BreadCrumbs }}
        <li class="breadcrumb-item"><a href="{{$.FeBase}}?d={{ .Url }}">{{ .Name }}</a></li>
    {{ end}}
    {{ $lastBreadcrump :=  last .BreadCrumbs }}
        <li class="breadcrumb-item active" >{{ $lastBreadcrump.Name }}</li>
    </ol>
</nav>