.DirEntry {
    list-style: none;

    a {
        padding: 0.6rem 0.5rem;
        display: block;
        color: wheat;
        text-decoration: none;
        &:hover{
            background: #46b16c;
        }
    }
}
