
.fe26-upload{
    background-color: #f1f1f1;
    margin: 2rem;
    padding: 2rem;
    position: relative;
}

.fe26-upload.has-advanced-upload{
    outline: 2px dashed #b6b6b6;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.fe26-upload__input .fe26-upload__file,.fe26-upload__input .fe26-upload__button {
    display: none;
}

.fe26-upload__input label{
    width: 50%;
    cursor: pointer;
    display: block;
    text-align: center;
    margin: auto;
    color: #7f7f7f;
}
.fe26-upload.has-advanced-upload .fe26-upload__icon {
    font-size: 150%;
    display: inline;
}
.fe26-upload__dragndrop, .fe26-upload__icon{
    display: none;
}

.fe26-upload.has-advanced-upload .fe26-upload__dragndrop {
    display: inline;
}



.fe26-upload.is-dragover{
    outline-offset: -20px;
    outline-color: #555555;
    background-color: #fbfbfb;
}

.fe26-upload.is-uploading .fe26-upload__input,
.fe26-upload.is-success .fe26-upload__input,
.fe26-upload.is-error .fe26-upload__input{
    visibility: hidden;
}

.fe26-upload__uploading,
.fe26-upload__success,
.fe26-upload__error{
    display: none;
}

.fe26-upload.is-uploading .fe26-upload__uploading,
.fe26-upload.is-success .fe26-upload__success,
.fe26-upload.is-error .fe26-upload__error{
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;

    -webkit-transform: translateY( -50% );
    transform: translateY( -50% );
}

.fe26-upload__success{
    -webkit-animation:  .25s ease-in-out;
    animation:  .25s ease-in-out;
}




