
.fe26-modal{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.4);
    z-index: 100;
    transition: 0.15s;
}


.fe26-modal.fe26-modal-visible{
    visibility: visible;
    opacity: 1;
}

.fe26-modal .fe26-modal-valign{

    margin: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.fe26-modal .fe26-modal-content{
    background: white;
    margin: auto;
    padding: 2rem;
    position: relative;
    border: 1px;
}

@media (min-width: 768px) {
    .fe26-modal .fe26-modal-content{
        width: 30%;
    }
    .fe26-modal.medium .fe26-modal-content{
        width: 55%;
    }
    .fe26-modal.big .fe26-modal-content{
        width: 75%;
    }
}

.fe26-modal .fe26-modal-content input{
    background: transparent;
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 2rem 0;
    text-align: center;
    color: #636363;
    border: 0;
    border-bottom: 1px solid #e8e8e8;
}

.fe26-modal .fe26-modal-content input:focus,.fe26-modal .fe26-modal-content{
    outline: none;
}

.fe26-modal .fe26-modal-content input::placeholder {
    color: #bcbcbc;
}

.fe26-modal .fe26-modal-actions{
    text-align: right;
}