.fe26-left-navigation{
    position: relative;
    padding: 0 0 3rem 0;
    background: $base-color-left;
    color: $text-color-left;
    overflow-y: auto;
    height: auto;

    li>a {
        padding: 1rem;
        color: $text-color-left;
        width: 100%;
        display: block;
    }

    a:hover{
        text-decoration: none;
    }

    li>a:hover{
        background: lighten($base-color-left,10%);
        color: lighten($text-color-left,30%);
        text-decoration: none;
    }
    span{
        margin-right: 1.5rem;
        margin-left: 1rem;
    }

    .glyphicon{
        color: lighten($text-color-left,20%);
    }

    .fe26-productinfo{
        position: absolute;
        bottom: 0;
        width: 100%;
        >div{
            font-size: 90%;
            a{
                font-weight: bold;
                color: lighten($text-color-left,20%);
                &:hover{
                    color: $text-color-left;
                }
            }
            padding: 0 2rem 2rem 2rem ;
        }


    }
}

@media (min-width: $media-min-width) {
    .fe26-left-navigation {
        height: 100%;
        padding: 0;
        li>a{
            padding: 0.3rem 1rem;
        }
    }
}

.fe26-button{
    cursor: pointer;
    margin-left: 1rem;
    display: inline;
    background: white;
    color: gray;
    padding: 0.5rem;
    transition: 0.15s;

    .glyphicon{
        padding-right: 0.5rem;
    }
    :hover{
        color: #4e4e4e;
    }
}


