@media (min-width: 768px) {

    .fe26-right-navigation {
        /*overflow-y: auto;*/
        height: 100%;
        display: flex;
        flex-direction: column;
        z-index: 10;
    }

    .fe26-file-list-container {
        flex: 1;
        overflow-y: auto;
        margin-bottom: 1rem;
    }
}

.fe26-right-navigation hr.space{
    border: 0;
    border-bottom: 1px solid #e8e8e8;
    margin: 3rem 2rem;
}

.fe26-file-list{
    width: 100%;
}

.fe26-file-list thead{
    background: none;
    border: 0;
}


.fe26-file-list tbody{
    border-bottom: 0;
}

.fe26-file-list tbody tr:nth-child(even) {
    background: #f5f5f5;
}

.fe26-file-list tbody tr{
    color: #7f7f7f;
    line-height: 3rem;
}

.fe26-file-list tbody tr:hover{
    background: #e6e4e4;
}

.fe26-file-list tbody td{
    /*padding-top: 0.5rem;*/
    /*padding-bottom: 0.5rem;*/
}
.fe26-file-list tbody tr a{
    color: #7f7f7f;
}

.fe26-col-icon{
    /*padding-left: 2rem;*/
    width: 4.5rem;
}

.fe26-col-icon .glyphicon{
    color: #e6e6e6;
    padding: 0.8rem;
    margin: 0.5rem;
    background: #7f7f7f;
}

.fe26-col-size{
    text-align: right;
    padding-right: 2rem;
}

.fe26-col-modtime{
    text-align: center;
}

.fe26-col-actions{
    padding-right: 1rem;
}
.fe26-col-actions span{
    padding-right: 0.5rem;
}

.fe26-delete-file-modal-text{
    color: gray;
    padding: 2rem 0;
}

.fe26-delete-file-modal-text .filename{
    font-weight: bold;
}

