@import 'vars';

html,body{
    height: 100%;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
hr.space{
    border: 0;
    border-bottom: 1px solid #636363;
    margin-left: 2rem;
    margin-right: 2rem;
}
.fw26-main, .fw26-main>.row{
    height: 100%;
    margin: 0;
}

@import "left_navigation";
@import "right_navigation";
@import "logo";
@import "fe26_modal";
@import "fe26_dialog";
@import "fe26_fileupload";